<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../vendors/angular.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <title>Nashsites</title>
  </head>
  <body>
    <h1>Nash Custom Websites</h1>
    <h2><a href="#">HOME</a>  <a href="./contact.html">CONTACT</a> <a href="#">ABOUT</a> </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia neque id eros dictum vestibulum. Quisque volutpat nisl nec turpis tincidunt, at sollicitudin justo luctus. Integer consequat augue finibus pulvinar mollis. Fusce et urna ut quam consectetur porta sed in elit. Nunc at leo mauris. Mauris ut aliquam mauris. Nunc vel bibendum turpis. Vivamus cursus, arcu eu interdum posuere, neque tellus ullamcorper sem, in varius mauris neque sed magna. Nulla et nulla ex. Maecenas eu magna sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </body>
</html>
